* {
  list-style: none;
  text-decoration: none;
}
.list {
  width: 80%;
  padding-left: 0;
  &__item {
    width: 17%;
    padding: 15px 0;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    &:hover {
      background-color: darkcyan;
      color: floralwhite;
    }
  }
  &__text {
    font-size: 20px;
  }
}
